/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');


/* GLOBAL */
*{
    margin:0;
    padding:0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER - LOGO */
header{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size: 35px;
}

/* NAVIGATION */
nav{
    background: #fff;
    box-shadow: 0px 0px 3px #ccc;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li:not(:first-child){
    margin-left: -4px;
}

nav ul li a{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color:rgba(0,0,0,0.65);
    padding: 0 20px;
}

.line{
    height: 2px;
    background-color: #000;
    margin: auto;
    transition: all 0.4s ease-in-out;
}

nav ul li[class=active] a{
    color: #000;
}

nav ul li[class=active]:nth-child(1) ~ .line{
    transform:translateX(-251px);
    width: 85px;
}
nav ul li[class=active]:nth-child(2) ~ .line{
    transform:translateX(-167px);
    width: 82px;
}
nav ul li[class=active]:nth-child(3) ~ .line{
    transform:translateX(-86px);
    width: 80px;
}
nav ul li[class=active]:nth-child(4) ~ .line{
    transform:translateX(22px);
    width: 136px;
}
nav ul li[class=active]:nth-child(5) ~ .line{
    transform:translateX(136px);
    width: 92px;
}
nav ul li[class=active]:nth-child(6) ~ .line{
    transform:translateX(237px);
    width: 111px;
}

nav ul li:nth-child(1):hover ~ .line{
    transform:translateX(-251px);
    width: 85px;
}
nav ul li:nth-child(2):hover ~ .line{
    transform:translateX(-167px);
    width: 82px;
}
nav ul li:nth-child(3):hover ~ .line{
    transform:translateX(-86px);
    width: 80px;
}
nav ul li:nth-child(4):hover ~ .line{
    transform:translateX(22px);
    width: 136px;
}
nav ul li:nth-child(5):hover ~ .line{
    transform:translateX(136px);
    width: 92px;
}
nav ul li:nth-child(6):hover ~ .line{
    transform:translateX(237px);
    width: 111px;
}

nav ul li:hover ~ .line, nav ul li:hover a{
    transition: all 0.4s ease-in-out;
    color:black;
}


@media screen and (max-width:864px){
    nav{
        height: 0px;
    }

    .line{
        display: none;
    }

    .nav-wrapper{
        position:fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #fff;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        width: 100%;
    }
    
    .nav-wrapper ul li{
        display: block;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a{
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a{
        transition-delay: 0.25s;
    }

    .nav-wrapper ul li:nth-child(3) a{
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(4) a{
        transition-delay: 0.35s;
    }

    .nav-wrapper ul li:nth-child(5) a{
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(6) a{
        transition-delay: 0.45s;
    }

    .nav-wrapper ul li:not(:first-child){
        margin-left: 0;
    }

    .nav-wrapper ul li a{
        padding: 10px 24px;
        opacity: 0;
        color:rgba(0,0,0,0.65);
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    .nav-btn{
        position: fixed;
        right: 30px;
        top: 34px;
        display: block;
        width: 20px;
        height: 15px;
        cursor: pointer;
        z-index: 999999;
        border-radius: 50%;
    }

    .nav-btn i{
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        border-radius: 2px;
    }

    .nav-btn i:nth-child(2){
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3){
        margin-top: 4px;
    }
}

#nav:checked + .nav-btn{
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i{
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1){
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2){
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3){
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper{
    z-index: 9999;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a{
    opacity: 1;
    transform: translateX(0);
}

.hidden{
    display: none;
}